<launch>
     <arg name="rviz" default="true" />
    <group if="$(arg rviz)">
        <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find icp_viewer)/config/rviz/lidar_localization_hexi.rviz" />
    </group>
    
    <arg name="map_env" default="XinaoTest" />
    <arg name="bag_file" default="8.bag" />
    <!-- <arg name="bag_file" default="9.bag" /> -->
    <node  pkg="icp_viewer" type="icp_viewer_node" name="icp_viewer_node" respawn="false" output="screen">
        <param name="PRMTR_strMapFolder" type="string" value="$(find icp_viewer)/data/$(arg map_env)/" />
        <param name="PRMTR_strMapFile" type="string" value="$(find icp_viewer)/data/$(arg bag_file)" />
        <param name="PRMTR_strConfigFile" type="string" value="$(find icp_viewer)/config/config.yaml" />
        
        <param name="PRMTR_nProjectID" type="int" value="1" />   <!-- value = 0: Baoxin; value = 1: Hexi -->
        <param name="PRMTR_strTopicName_Cloud" type="string" value="/driver/livox/point_cloud" />
        <param name="PRMTR_strTopicName_Cloud" type="string" value="/livox/lidar" />
        <param name="PRMTR_strTopicName_GPS" type="string" value="/driver/gps/fix" />
        <param name="PRMTR_strTopicName_GPS_Heading" type="string" value="/strong/heading" />
        <param name="PRMTR_strTopicName_IMU" type="string" value="/driver/imu" />
  
       
        <param name="PRMTR_nInitMode" type="int" value="0" />   <!-- value = 0: GPS; value = 1: MANUAL_SETTING; value = 2: MANUAL_UI -->
        <param name="PRMTR_lfInitPoseX" type="double" value="334685" /> <!--1.334690, 2.334693, 9.334685 10.334698-->
        <param name="PRMTR_lfInitPoseY" type="double" value="2692290" /> <!--1.2692296, 2.2692342, 9.2692290 10.2692345-->
        <param name="PRMTR_lfInitPoseYaw" type="double" value="45" /> <!-- Unit: deg --><!--1.60 2.-80 9.45 10.-95-->
        <param name="PRMTR_lfMaxZ" type="double" value="3" /> <!--5-->
        <param name="PRMTR_lfMinZ" type="double" value="1" /> <!-- 2.5 -->
        <param name="PRMTR_utmEast" type="double" value="334700" /> <!--334700, 355000, 354975-->
        <param name="PRMTR_utmNorth" type="double" value="2692400" /> <!-- 2692400, 2700000, 2699975 -->
    </node>
</launch>
